html {
  font-size: 16px;
}

:root {
  --archetype-correction: 1.0;
}

body {
  font-family: "Georgia", serif;
  font-family: "Source Sans Pro", sans-serif;
  font-family: "Martel", serif;
  font-family: "Times New Roman", serif;
  font-family: "IBM Plex Serif", serif;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1em;
}

article {
  width: 700px;
  margin: 60px auto;
}
